.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #ffe0eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bSubmit{
  background-color: #ffb2ba;
  text-align: center;
  width: 245px;
  height: 45px;
  border: 6px inset #D5D5D5;
  margin: 0 0 6px 0;
  padding: 0 0 0 2px;
  font-family: "Times New Roman";
  font-size: 20px;
  color: #0a0a0a}

.bNext{
  background-color: #ffb2ba;
  text-align: center;
  width: 245px;
  height: 45px;
  border: 6px inset #D5D5D5;
  margin: 0 0 6px 0;
  padding: 0 0 0 2px;
  font-family: "Times New Roman";
  font-size: 20px;
  color: #0a0a0a}

.bPrevious{
  text-align: center;
  background-color: #ffb2ba;
  width: 245px;
  height: 45px;
  border: 6px inset #D5D5D5;
  margin: 0 0 6px 0;
  padding: 0 0 0 2px;
  font-family: "Times New Roman";
  font-size: 20px;
  color: #0a0a0a}

.bReset{
  text-align: center;
  background-color: #ffff00;
  width: 75px;
  height: 45px;
  border: 4px inset #ffff00;
  margin: 0 0 6px 0;
  padding: 0 0 0 2px;
  font-family: "Times New Roman";
  font-size: 20px;
  ﬂoat: right;
  color: #0a0a0a}

.titulo{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 54px;
  color: #0a0a0a;
  background-color: #ffe0eb;
  border: 2px inset #0a0a0a;
  margin: 0 0 60px 0;}

.score{
  font-size: 38px;}

.congrats{
  font-family: "Times New Roman";
  font-size: 38px;}

.resultado{
  font-family: "Times New Roman";
  font-size: 45px;
  color: #282c34;}